<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action">My Activity</a>
        <a href="#" class="list-group-item list-group-item-action">My Activity</a>
        <a href="#" class="list-group-item list-group-item-action">My Ratings</a>
        <a href="#" class="list-group-item list-group-item-action">My Watchlist</a>
        <a href="#" class="list-group-item list-group-item-action">Account Settings</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Dashboard</h4>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="form-group">
                  <label for="favoriteGenre">Favorite Movie Genre</label>
                  <div class="col-8">
                    <select class="form-select" id="favoriteGenre">
                      <option hidden>Choose option...</option>
                      <option *ngFor="let genre of genreList">{{genre}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="favoriteMovie" class="col-4 col-form-label">Favorite Movie</label>
                  <div class="col-8">
                    <input id="favMovie" name="favMovie" placeholder="Favorite Movie" class="form-control here" type="text" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
